<div class="result">
<h1><u>Result</u></h1>
<p>Your input: <u><%= params[:word] %></u></p>
<p><%= @letters %></p>
<p><%= @english_word%></p>
<%= link_to "Try again?", new_path %>
<%= @each_char %>
</div>
